<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#07111f">
    <title translate="no">Notebook Translator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/panels.css">
    <link rel="stylesheet" href="/static/css/previews.css">
    <link rel="stylesheet" href="/static/css/translation.css">
    <link rel="stylesheet" href="/static/css/notes.css">
    <link rel="stylesheet" href="/static/css/status.css">
</head>
<body>
    <a href="#main" class="skip-link">Skip to main content</a>
    {% block content %}{% endblock %}
    <script src="/static/js/main.js"></script>
    <script src="/static/js/upload.js"></script>
    <script src="/static/js/translation.js"></script>
    <script src="/static/js/navigation.js"></script>
    <script src="/static/js/notes.js"></script>
    <script src="/static/js/ui.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/utils.js"></script>
</body>
</html>
